html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px; /* Increased width for better visibility */
  background-color: #1a3c34; /* Track color */
}

html::-webkit-scrollbar-thumb {
  background-color: #4CAF50; /* Thumb color */
  border-radius: 10px; /* Roundness of the thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #3d8b40; /* Thumb color on hover */
}
